*.swp
.vagrant
.ghc.environment*
tags
*.prof
*.hp
*.eventlog
dist-newstyle
*.tar
!aarch64-linux-dist.tar
*.chi
*.chs.h
.hspec-failures
.stack-work
libarchive-*.tar.*

# autoconf
autom4te.cache/
aclocal.m4
c/config.h
c/config.h.in~
configure~
configure
libtool
ltmain.sh
