*.swp
.vagrant
.ghc.environment*
tags
*.prof
*.hp
*.eventlog
dist-newstyle
*.tar
*.chi
*.chs.h
.hspec-failures
.stack-work
libarchive-*.tar.*
libarchive-*/

# autoconf
build/autoconf/config.guess
build/autoconf/config.sub
build/autoconf/install-sh
build/autoconf/libtool.m4
build/autoconf/ltmain.sh
build/autoconf/ltoptions.m4
build/autoconf/ltsugar.m4
build/autoconf/ltversion.m4
build/autoconf/lt~obsolete.m4
autom4te.cache/
aclocal.m4
c/config.h
c/config.h.in~
configure~
libtool
ltmain.sh
